.control--radio {
    margin-bottom: 0;
    padding-left: .8rem;

    .label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
    
        &::before{
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid;
            border-radius: 50%;
            @include transition(border 0.15s ease-in-out);
      }

        .disabled &::before {
            @include input-border(disabled);
        }
    
        &::after{
            display: inline-block;
            position: absolute;
            content: " ";
            width: 11px;
            height: 11px;
            left: 3px;
            top: 3px;
            margin-left: -20px;
            border-radius: 50%;
      }

        .disabled &::after {
            @include input-border(disabled);
        }
    }

    .radio {
        opacity: 0;
        z-index: 1;
        cursor: pointer;

        &:checked + .label::after {
            background-color: $background__check;
            color: #fff;
        }

        &:disabled {
            cursor: not-allowed;
        }

        &:disabled + .label {
            color: $color__text-muted;

            &::before {
                background-color: darken($color__white, 10%);
                cursor: not-allowed;
            }

            &::after {
                color: $color__text-muted;
                background-color: darken($color__white, 10%);
                cursor: not-allowed;
            }
        }

        &:focus + .label::before {
            @include focusable-active();
        }

        &:checked:focus + .label::after {
            background-color: darken($background__check, 20%);
        }
    }
}