// Colorings for draft purposes
#app {
    background: #B0BEC5;
}

.page-header {
    background: #ECEFF1;

}

.aside {

    .container {
        background: #CFD8DC;
    }
}

.main {

    .container {}
}

.page-footer {
    background: #ECEFF1;
}
